.git
**/.next
**/.turbo
**/*.tsbuildinfo
**/next-env.d.ts
**/node_modules
.pnpm-store
**/.env
**/.env.*
*.env
*.env.*
coverage
playwright-report
test-results
docs
*.dump
*.log
Dockerfile
.dockerignore
.github
